<html>
  <head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="demo.css">
  </head>
  <body>
    <h1 id="steamid"></h1>
    <h1 id="username"></h1>
    <img id="image">
    <h1 id="rank"></h1>
    <script id="JSONinsert" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(window).on('load', function(){
      function loadSrc(){
        var steamidCookie = document.cookie;
           // Get all the cookies pairs in an array
           parseCookie = steamidCookie.split(';');
           // Now take key value pair out of this array
           rawsteamid = parseCookie[0].split('=')[1];
           var steamid_json = rawsteamid + ".json";
           document.getElementById('JSONinsert').setAttribute("src", steamid_json);
           setTimeout(2000);
           var path = window.location.origin;
           $('#userInfo').load(path);
         }
         function userInfo(){
           var mydata = JSON.parse(data);
           document.getElementById("username").textContent = mydata[0].username;
           document.getElementById("image").src = mydata[0].image;
           document.getElementById("rank").textContent = mydata[0].rank;
         }
      loadSrc();
      window.setTimeout(userInfo, 15);
         });
       </script>
    <!--
    TODO
    Build the front-end
    Use a table for formatting
  -->
  </body>
</html>
