<html>
  <head>
    <title>
    </title>
    <style>
      body {
        /*background-image: url("https://s2.gaming-cdn.com/images/products/406/screenshot/tom-clancys-rainbow-six-siege-wallpaper-4.jpg");
        */background-repeat: no-repeat;
        background-color: #5E5757;
        background-size: 100%;
      }
    </style>
  </head>
  <body id="body">
    <h1 id="steamid"></h1>
    <h1 id="username"></h1>
    <img id="image">
    <h1 id="rank"></h1>
    <script type="text/javascript" src="intoxicatedxd.json"></script>
    <script>
    var mydata = JSON.parse(data);
    document.getElementById("username").textContent = mydata[0].username;
    document.getElementById("image").src = mydata[0].image;
    document.getElementById("rank").textContent = mydata[0].rank;
  </script>
  </body>
</html>
