<!DOCTYPE html>
<html>
	<head>
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script src="index.js">
		</script>
</head>

<!-- The Menu for The Website -->

<body>
	<div class="parallax">
	</div>
		<div class="containertitle">
	<span class="containertitleText">
		GamerKonnect
	</span>
</div>
<div class="containerabout">
	<h2><b>
		<div style="text-align:center;">Welcome to GamerKonnect!<br><br></div>
	Here, you are able to connect with other players in your desired video game.
	You are able to get information pertaning to the person's rank, steam profile, or other forms of communication.
	Cosnstant updates will be created to make a better and more accurate experience for those who are hoping to find people.
	Other games are going to be added soon: for now, the only games available are CS:GO, Rainbow Six: Siege, and Rocket Leauge.
	Hope you have a pleasant experience and meet with new friends. </b>
</h2>
</div>
<!-- TODO: Build a form to register from the index not from a seperate page -->
<div style="margin-left:5%;margin-right:5%;">
<div class="containerlogsign">
		<h1 id="registerTitle">Registration</h1>
		<form>
			<input id="email" type="text" onclick=""required><br>
			<label for="email">Enter an email</label>
			<input id="password" type="text" required><br>
			<label for="password">Enter a password</label>
			<div style="padding-top:5em;"></div>
			<!-- TODO: Add when on form submit, submit the form but then redirect
		website to somewhere else, also build a profile from there maybe use demo.html as a login
		/ how profile looks -->
			<input type="submit" value="Register">
		</form>
</div>
</div>
<div align="center">
	<a id="loginButton" align="center" href = "login.html" title = "Login to GamerKonnect">
		<b>Already a Member?</b>
	</div>
	</a>
</html>
