<!-- tomaszbrauntsch worked on connecting html to node server and sending the
info-->
<!doctype html>
<html>
<head>
<title>
</title>
<link rel="stylesheet" type="text/css" href="signup.css">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body bgcolor = "#5E5757" text = "#000000">
  <div align = "center">
    <h1 id="titleText">
      SIGNUP
    </h1>
    <form method="post" id="usrinfo" action="http://localhost:8080/csgosignup">
      <div class="informationMove"></div>
      <input type="text" name="steamid" placeholder="Enter Steamid..." id="steamid">
      <div class="informationMove"></div>
      <textarea name="aboutMe" rows="14" cols="10" placeholder="Enter About Me Information..." maxlength="250"></textarea>
      <div class="informationMove"></div>
      <input name="submitButton" type="submit" value="Submit">
    </form>
    <br>
    <div class="informationMove"></div>
    <a id="btHome" href="index.html">Back to Home Screen</a>
    </div>
</body>
</html>
