@media only screen and (min-width:1024px){
html, body{
height:100%;
margin: 0;
background-color:#252E3C;
}

.parallax{
  background-image: url('background.gif');
  min-height:100%;
  filter: blur(1em);
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
}

.containertitle{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align:center;
}
.containertitle span.containertitleText{
  font-size:3em;
  font-family: 'Lato', sans-serif;
  /* color: #636278;
  color: #8c8aab; */
  color:#a8a5cf;
  padding:1.2em;
  letter-spacing: 0.1em;
}

.containerabout{
height:50%;
color: #000;
background-color:white;
text-align:center;
padding:50px 80px;
text-align: justify;
line-height: 2em;
}
#aboutText{
  font-family: 'Lato', sans-serif;
}

.containerlogsign{
  width:100%;
  height:30%;
  text-align:center;
  font-family: 'Lato', sans-serif;
}
.containerlogsign h1#registerTitle{
  font-size:3em;
  color:white;
  text-align:left;
  border:0.1em white solid;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  background-color:#03b1fc;
  padding:10px;
}
.containerlogsign form{
  background-color:#03b1fc;
  border:0.3em white solid;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
form label{
  line-height: 0.2em;
  font-size:2em;
  color:white;
  display:block;
  padding-top:0.4em;
  padding-bottom:1em;
  margin-left:10%;
  text-align:left;
}
input[type=text]{
  font-size: 1.1em;
  color:white;
  background-color: rgba(0,0,0,0.0);
  border:none;
  border-bottom: 0.2em black solid;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width:80%;
  padding:1em 1em;
  margin: 0.5em 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]{
  text-align:center;
  background-color:#3333f5;
  color:white;
  font-size:1.5em;
  padding: 0.3em 5em 0.3em 5em;
  border-top: 0.2em white solid;
  border-left: 0.2em white solid;
  border-right: 0.2em white solid;
  border-bottom:none;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
input[type=text]:focus{
  border:none;
  font-size: 2.5em;
}
input[type="submit"]:hover{
  background-color: #2d2db5;
  color:white;
}
#loginButton{
  line-height: 2.7em;
  text-decoration: none;
  font-size:1.5em;
  font-family: 'Lato', sans-serif;
  color:#FFF;
  padding:0.2em;
  -webkit-transition: color 1.2s ease-in-out;
  transition: color 1.2s ease-in-out;
}
#loginButton:hover{
  color:pink;
}
}

@media only screen and (max-width: 1023px){
html, body{
height:100%;
margin: 0;
background-color:#252E3C;
}

.parallax{
  background-image: url('background.gif');
  min-height:100%;
  width:100%;
  filter: blur(1em);
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
}

.containertitle{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align:center;
}
.containertitle span.containertitleText{
  font-size:1.7em;
  font-family: 'Lato', sans-serif;
  /* color: #636278;
  color: #8c8aab; */
  color:#a8a5cf;
  padding:1.2em;
  letter-spacing: 0.1em;
}

.containerabout{
  font-size:0.85em;
  height:75%;
  color: #000;
  text-align:center;
  text-align: justify;
  line-height: 1.5em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom:40px;
}
#aboutText{
  font-family: 'Lato', sans-serif;
  color:#e1e8eb;
  background-color: rgba(0,0,0,0);

}

.containerlogsign{
  margin-left: 5%;
  width:90%;
  height:20%;
  text-align:center;
  font-family: 'Lato', sans-serif;
}
.containerlogsign h1#registerTitle{
  font-size:2em;
  color:white;
  text-align:left;
  padding:10px;
}
.containerlogsign form{
}
form label{
  line-height: 0.2em;
  font-size:2em;
  color:white;
  display:block;
  padding-top:0.4em;
  padding-bottom:1em;
  margin-left:10%;
  text-align:left;
}
input[type=text]{
  font-size: 1em;
  color:white;
  background-color: rgba(0,0,0,0.0);
  border:none;
  border-bottom: 0.2em white solid;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width:80%;
  padding:1em 1em;
  margin: 0.5em 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]{
  text-align:center;
  background-color:#3333f5;
  color:white;
  font-size:1.3em;
  padding: 0.3em 5em 0.3em 5em;
  border-bottom:none;
  border-radius: 3em;
  border-style:none;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
input[type=text]:focus{
  border:none;
  font-size: 1.5em;
}
input[type="submit"]:hover{
  background-color: #2d2db5;
  color:white;
}
#loginButton{
  line-height: 3em;
  text-decoration: none;
  font-size:1.5em;
  font-family: 'Lato', sans-serif;
  color:#FFF;
  padding:0.2em;
  -webkit-transition: color 1.2s ease-in-out;
  transition: color 1.2s ease-in-out;
}
#loginButton:hover{
  color:pink;
}
}
